
<div class="container-fluid ">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="slogan">All glory comes from daring to begin </h1>
       <p class="lead">
         <%= link_to 'Quick Apply', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
   <div class="row services">
       <section id="services" class="sec-services">
         <div class="container-fluid">
           <h1>Choice W&W Offer</h1>
           <hr />
           <div class="row">

             <div class="col-sm-4">
               <i class="fa fa-4x fa-fax"></i>
               <h2 class="h3">Quickly Responsive</h2>
               <p>You can receive 10-20 interview invitations within one week.</p>
             </div>

             <div class="col-sm-4">
               <i class="fa fa-4x fa-clock-o "></i>
               <h2 class="h3">Higher Effective</h2>
               <p>One Click, one Search, you will get what you want.</p>
             </div>

             <div class="col-sm-4">
               <i class="fa fa-4x fa fa-building"></i>
               <h2 class="h3">Top Tech Companies</h2>
               <p>1000+ Companies registered on OW offer, just wating you coming</p>
             </div>
           </div>
         </div>
       </section>
       <section id="testimonials" class="sec-testimonials">
            <div class="container">
              <h1>Employees said</h1>
              <hr/>
              <div class="row">
                <div class="col-sm-4">
                  <p class="text-center">"W&W offer is such amazing. I got my dream work just one week!"</p>
                  <p class="text-right">&mdash; Elizabeth</p>
                </div>

                <div class="col-sm-4">
                  <p class="text-center">"Are you paid fairly? Big boss know your worth? Come here, you'll got them!"</p>
                  <p class="text-right">&mdash; Milly Cooper</p>
                </div>

                <div class="col-sm-4">
                  <p class="text-center">"I have worked with several different people and it always seemed like a pain—luckily I found OW offer. Thanks them!"</p>
                  <p class="text-right">&mdash; Jerry Lai</p>
                </div>
              </div>
            </div>
       </section>
   </div>
</div>
